<div class="main  apply">	
				<div class="top1">
					<h4>邀请名单</h4>
					<button type="button" class="btn-lg add" data-toggle="modal" data-target="#dialogBox">
					添加居民
					</button>
					<a href="">短信通知{{checks}}</a>
				</div>
				<table class="table text-center">
					<thead>
						<tr class="active">
							<td><input type="checkbox" class="all" ng-model="master" ng-click="all(master,tesarry)"></td>
							<td>居民姓名</td>
							<td>练习电话</td>
							<td>姓名</td>
							<td>年龄</td>
							<td>短信通知</td>
							<td>备注信息</td>
							<td>操作</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="i in activeList">
							<td><input type="checkbox" class="cb" ng-model="x" ng-checked="master" ng-click="chk(z,x)"></td>
							<td>{{i.name}}</td>
							<td>{{i.tel}}</td>
							<td>{{i.sex}}</td>
							<td>{{i.age}}</td>
							<td>{{i.state}}</td>
							<td>{{i.info}}</td>
							<td><span>{{i.chart}}</span><span>{{i.detail}}</span><span>{{i.detele}}</span></td>
						</tr>
					</tbody>
					</table>
						<nav aria-label="Page navigation">
						  <ul class="pagelist">
						    <li>
						      <a href="#" aria-label="Previous">
						        <span aria-hidden="true">&laquo;</span>
						      </a>
						    </li>
						    <li><a href="#">1</a></li>
						    <li><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						    <li>
						      <a href="#" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						  </ul>
						</nav>
					</div>
<div class="modal fade" id="dialogBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content main">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="close">X</span></button>
        <h4 class="modal-title" id="myModalLabel">添加居民</h4>
      </div>
      <div class="modal-body">
       	<div class="section4">
       		<div class="col-xs-2">
			</div>
			<div class="col-xs-2">
				<p class="ju">居民信息</p>
			</div>	
			<div class="col-xs-4">
				<input type="text" class="form-control form-horizontal input-sm" placeholder="请输入用户名或手机号">
			</div>
			<div class="col-xs-2">
				<button type="button" class="btn btn-danger">查询</button>
			</div>
		</div>
      </div>
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      <!--</div>-->
 
