<ul class="nav nav-tabs">
	<li role="presentation" ui-sref="index.play.introduce" ><a href="#" ng-class="{active:tabNav==1}" ng-click="tabs(1)">活动介绍</a></li>
	<li role="presentation" ui-sref="index.play.invite"><a href="#" ng-class="{active:tabNav==2}" ng-click="tabs(2)">邀请居民</a></li>
	<li role="presentation" ui-sref="index.play.apply"><a href="#" ng-class="{active:tabNav==3}" ng-click="tabs(3)">居民报名</a></li>
	<li role="presentation" ui-sref="index.play.summarize"><a href="#"  ng-class="{active:tabNav==4}" ng-click="tabs(4)">活动总结</a></li>
</ul>
<div ui-view>
	
</div>
